
<div class="main-div">

    <div class="overlay-section2 d-flex  align-items-center">
    <span style="color:white;float:left;margin-left:17px"> M&TBank </span>
    <span style="color:white;margin-left:490px;"> Content Explorer </span>
    </div>
    
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'search')">Search</button>
      <button class="tablinks" onclick="openCity(event, 'upload')">Upload</button>
    </div>
    
    <div id="search" class="tabcontent">
      <div class="overlay-section3">
      
      <div class="controls" id="profs"> 
        <form class="input-append">
            <div id="field"><input autocomplete="off" class="input" id="field1" name="prof1" value="New Search 5" type="text" placeholder="Type something" data-items="8"/><button id="b1" class="btn add-more btnsize" type="button">+</button></div>
        </form>
    
    </div>
    
  </div> 
  <div class="dropdown">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Template
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Template1</a>
      <a class="dropdown-item" href="#">Template2</a>
      <a class="dropdown-item" href="#">Template3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      0
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Template1</a>
      <a class="dropdown-item" href="#">Template2</a>
      <a class="dropdown-item" href="#">Template3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Order Result By
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Template1</a>
      <a class="dropdown-item" href="#">Template2</a>
      <a class="dropdown-item" href="#">Template3</a>
    </div>
  </div>



  </div>
    
    
    <div id="upload" class="tabcontent">
      <div class="overlay-section3">Transpose*</div>
      
    </div>
    
    
    </div>

    